@{
    ViewBag.Title = "Saved";
}
<div>
    <h4>Product</h4>
    <hr />
    <table class="table table-striped " border="1">

        <tbody>
            <tr>
                <td> @Html.DisplayNameFor(model=>model.Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(model => model.Phone)</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Phone)</td>
            </tr>

            <tr>
                <td> @Html.DisplayNameFor(model => model.Email)</td>
            </tr>
            <tr>
                <td> @Html.DisplayFor(model => model.Email)</td>
            </tr>

           
        </tbody>
    </table>
</div>

<div>

    <a asp-controller="Products" asp-action="ContactUs">add new Contact</a>

</div>

