@{
    ViewBag.Title = "Saved";
}
<div>
    <h4>Contact</h4>
    <hr />
    <table class="table table-striped " border="1">

        <tbody>
            <tr>
                <td> @Html.DisplayNameFor(model=>model.FullName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.FullName)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(model => model.Phone)</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.Phone)</td>
            </tr>

            <tr>
                <td> @Html.DisplayNameFor(model => model.Email)</td>
            </tr>
            <tr>
                <td> @Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(model => model.Subject)</td>
            </tr>
            <tr>
                <td> @Html.DisplayFor(model => model.Subject)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(model => model.Message)</td>
            </tr>
            <tr>
                <td> @Html.DisplayFor(model => model.Message)</td>
            </tr>


           
        </tbody>
    </table>
</div>

<div>

    <a asp-controller="Products" asp-action="ContactUs">AddNewContact</a>

</div>

